<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styleMain.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро Пожаловать!</title>
</head>
<body>
    <div class="body-view">
        <div class="main">
            <div class="main-form">
                <p class="cont">
                    Добро пожаловать в нашу парикмахерскую!!
                </p>
                <form action="index">
                    <button > Посмотреть услуги </button>
                </form>
            </div>                  
        </div>
    </div>
</body>
</html>