*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body-view{
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-image: url(/Fons/загрузка.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.login-form {
    width: 70%;
    height: 300px;
    
    padding: 20px;
    margin: 50px auto;
    
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    text-align: center;
}
  
.cont{
    color: #ffffff;
    
    font-size: 30px;
    font-family: 'Roboto Mono';
    
    padding-bottom: 20px;
}

input{
    width: 100%;
   
    margin-bottom: 10px;
    padding: 10px;
    
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    
    background-color: #000;
    
    color: #fff;
    
    border: none;
    border-radius: 5px;
    
    cursor: pointer;
}

button:hover{
    background-color: #555353;
}

/*Для регистрации*/
.regestration, .parol-quastion {
    
    color: white;
    
    font-size: 15px;
    text-decoration: none;
    font-family: 'Roboto Mono';
}

/*Для авторизации*/
.textik{
    display: grid;
    gap: 10px;
    
    width: 100%;
   
    margin-top: 15px;
    
    text-align: center;
}
